<button type="button" (click)="onLoginClick()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginID">Login</button>
<button type="button" (click)="onRegisterClick()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registerID">Register</button>
<button type="button" (click)="onLogoutClick()" class="btn btn-primary btn-lg">Logout</button>
<button type="button" (click)="onDeleteAccountClick()" class="btn btn-primary btn-lg">Delete</button>

<!-- login form -->
<div>
  <!-- Modal -->
  <div class="modal fade" id="loginID" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
          <div class="container-fluid">

            <form (ngSubmit)="onSubmitSignIn(signInForm)" #signInForm="ngForm">
              <input type="text" name="username" placeholder="Username" ngModel />
              <br>
              <input type="password" name="password" placeholder="Password" ngModel />
              <br>
              <button type="submit" data-toggle="modal" data-target="#loginID">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- register form -->
<div>
  <!-- Modal -->
  <div class="modal fade" id="registerID" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
          <div class="container-fluid">

            <form (ngSubmit)="onSubmitRegisterForm(registerForm)" #registerForm="ngForm">
              *<input type="text" name="username" placeholder="Username" ngModel />
              <br>
              *<input type="password" name="password" placeholder="Password" ngModel />
              <br>
              *<input type="password" name="cpassword" placeholder="Confirm password" ngModel />
              <br>
              <input type="text" name="name" placeholder="Name" ngModel />
              <br>
              <input type="text" name="surname" placeholder="Surname" ngModel />
              <br>
              <input type="email" name="email" placeholder="Email" ngModel />
              <button type="submit" data-toggle="modal" data-target="#registerID">Submit</button>
            </form>

          </div>
        </div>
        <div class="modal-footer">
          <p>Elements marked by * are required</p>
        </div>
      </div>
    </div>
  </div>
</div>