.root
{
    width: 100%;
    height: 100%;
}

app-pre-menu
{
    position: fixed;
    float: left;
    width: 100%;
    height: 5vw;
    margin: 0%;
    padding: 0%;
    z-index: 100;
}

app-content-root
{
    position: relative;
    top: 3vw;
    z-index: 99;
}