<div class="options" *ngIf="userService.logedin">
    <ul class="list-inline">
        <li
            class="list-inline-item"
            *ngIf="userService.currentRoute !== '/'">
            <button
                type="button"
                class="btn btn-primary"
                (click)="onSearchClick()">Search</button>
        </li>
        <li
            class="list-inline-item"
            *ngIf="userService.currentRoute !== '/recipeCreate'">
            <button
                type="button"
                class="btn btn-primary"
                (click)="onCreateClick()">Create</button>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>