.container-fluid
{
    width: 100%;
    max-width: 100%;
    padding: 0%;
    float: left;
    text-align: center;
}

.button-container
{
    background-color: #EEEEEEFF;
    position: fixed;
    width: 100%;
    height: 2.2vw;
    align-content: center;
}

.menu-options
{
    float: left;
    width: 10vw;
    max-width: 10vw;
    top: 2.2vw;
}

.menu-button
{
    font-size: 1.2vw;
    padding: 0.5vw;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.fixed
{
    position: fixed;
    z-index: -1;
}