button
{
    float: right;
}

.options-container
{
    margin: 0px;
    padding: 0px;
}

.options-button
{
    background-color: #EEEEEEFF;
}

.modal-dialog
{
    top: 10%;
}

.modal-body
{
    background-color: #EEEEEEFF;
}